
body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.page-wrap {
  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden auto;
  display: flex;
  flex-direction: column;
}

.plain-link {
  &, &:hover, &:focus, &:focus-visible {
    text-decoration: none;
    outline-offset: 0;
  }
}

.plain-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}

